@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@500;600;700&family=Ubuntu&display=swap');

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #0D1117;
    color: #f0f8ff;
    font-family: 'Tektur', cursive;
}
h1 {
    font-weight: 700;
    font-size: 4vw;
    text-align: center;
}

.navigation {
    display: flex;
    gap: 3vw;
    justify-content: center;
    margin-bottom: 100px;
}

.slider {
    display: flex;
    align-items: center;
    
}
.size-value {
    margin-left: 20px;
    font-size: 2vw;
    /* color: #01724c;2 */
    font-weight: bold;
}
button {
    font-family: 'Tektur', cursive;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 7px;
    border: none;
    background-color: #f0f8ff;
}

button:hover {
    cursor: pointer;
    transition: 300ms;
    color: #f0f8ff;
    background-color: #f0f8ff21;
}

#slider {
    width: 200px;
}

.notification {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-size: 1.6rem;
    margin: 0px 90px 60px 90px;
    display: none;
}

#play-now{
    width: 20%;
}



.grid-container {
    background-color: #f0f8ff;
    margin: auto;
    width: 40%;
    height: 70vh;
    margin-bottom: 100px;
    color: #01724c;
    display: grid;
}
 .grid-element {
    border-width: 1px;
    border-style: solid;
    border-color: black;
} 

@media (min-width: 320px) and (max-width: 768px) {
    .navigation {
            display: flex;
            flex-direction: row;
        }
    .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    button {
        width: 120px;
    }
}